API_ID=20536631
API_HASH=b674f242e851d112a40870f9934f6d9c
BOT_TOKEN=5754399511:AAFAQMd8eW42LrGUvW8SkSw6wM8C8UNa8HI
MUSIC_BOT_NAME=𝗦𝗨𝗞𝗢𝗢𝗡 𝗠𝗨𝗦𝗜𝗖
BOT_USERNAME=SUKOON_MUSIC_BOT
LOG_GROUP_ID=-1001714843083
SUPPORT_GROUP=https://t.me/INDIAN_STUDY_WARRIORS
SUPPORT_CHANNEL=https://t.me/link_ki_duniya
DURATION_LIMIT=900
START_IMG_URL=https://graph.org/file/a3eabb1a41a8040561b1b.jpg
PING_IMG=https://graph.org/file/a3eabb1a41a8040561b1b.jpg
STRING_SESSION=AQBuTqxrpNE-Bgsh5PT-r_UcEbOgUu6xA4y9FSLdQ0EqKEVq0vMpO-JDznJYtWo0r9iOC9-S1Z9HnL-1KMvYTA7ziOS_Ss0DWyn2Jkijk0IMeA_z9cnU7ZiKBNT5pjots5L6QDWI6Qfj3eTSM3gOfWWDZowjPKcpPYha-o6beAKawvDuFruWTSsoBwCol2Pa-gUEal9xF5TVXa59D8jvEgegbH-tziaeVEWjajbRLa8v0UGc0_aa6oDWZIfOJIgw6GsYgkSGNA7noOUw3aBwvp4YC7E68aPnigIkd7wovqxQDzbnMRHAS_Zgp-kI3BL6kSVEA5dmmybAiJklek3CpoSsAAAAAUQaO7AA
OWNER_ID=5956494225
CLEANMODE_DELETE_MINS=2
AUTO_SUGGESTION_MODE=True
AUTO_DOWNLOADS_CLEAR=True
GITHUB_REPO=https://te.legra.ph/file/db7c6b18567b5e81165ad.mp4
